.favorite-cell {
  text-align: center;
  vertical-align: middle;
}

.favText {
    text-align: center;
}

.table.table-striped {
  tbody tr:nth-of-type(odd) {
    --bs-table-striped-bg: #ff51002a;
  }

  tbody tr:nth-of-type(even) {
    --bs-table-bg: #008cff1e;
  }
}
.table {
  background: var(--bgPrimary);
  border-radius: 14px;
  overflow: hidden; 
  box-shadow: 0 6px 18px var(--shadowLight);

  thead {
    background: var(--bgAccent);

    th {
      color: var(--textMainStyle);
      font-weight: 700;
      text-align: center;
      padding: 14px 10px;
      font-size: 15px;
      border-bottom: 2px solid var(--blueSoft); 

      &.favText {
        color: var(--blue);
      }
    }
  }

  tbody {
    tr {
      transition: background 0.2s ease;

      &:hover {
        background: var(--bgSecondary);
      }

      th,
      td {
        padding: 12px 10px;
        vertical-align: middle;
        font-size: 15px;
        color: var(--textSecondary);
        text-align: center;
      }

      td.favorite-cell {
        display: flex;
        justify-content: center;
        align-items: center;

      }
    }
  }
}

.delete-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.delete-modal {
  background: var(--bgPrimary);
  padding: 30px 20px;
  border-radius: 12px;
  box-shadow: 0 6px 18px var(--shadowLight);
  text-align: center;
  max-width: 400px;
  width: 90%;

  h2 {
    color: var(--textMainStyle);
    font-size: 18px;
    margin-bottom: 20px;
  }

  .modal-buttons {
    display: flex;
    justify-content: space-around;

    button {
      padding: 8px 16px;
      border-radius: 8px;
      border: none;
      font-weight: 600;
      cursor: pointer;
      transition: all 0.2s ease;

      &.cancel-btn {
        background: var(--bgSecondary);
        color: var(--textSecondary);

        &:hover {
          background: #f0e6e0;
        }
      }

      &.confirm-btn {
        background: var(--blue);
        color: #fff;

        &:hover {
          background: #0080ff;
        }
      }
    }
  }
}





